*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    height: 130px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
    color: #fff;
}
.header-navbar{
    display: flex;
    justify-content:space-between;
}
.header-navbar-list{
    list-style: none;
    padding: 20px;
}
.header-navbar-item{
    display: inline-block;
    margin-left: 25px;
    font-weight: 200;
    position: relative;
    cursor: pointer;
}
.header-navbar-item-link{
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.header-navbar-item-strong{
    font-weight: 500;
}
.header-navbar-item--sparate::after{
    content:' ';
    position: absolute;
    display: block;
    width: 1px;
    height: 12px;
    background-color: #fb9086;
    right: -8px;
    top:3px;
}
.header-rev{
    position: relative;
}
.icon-facebook{
    position: absolute;
    margin-left: 3px;
    opacity:0.9;
}
.icon-ins{
    position: absolute;
    margin-left: 25px;
    opacity:0.9;
}
.icon-bell{
    position: absolute;
    left: -20px;
}
.head-nav-input{
    display: flex;
    justify-content: center;
 
}
.header-nav-search{
    position: relative;
    width: 754px;
    height: 40px;
    border: #fff 10px solid;
  

}


.icon-seach{
    background-color: #fe6433;
    cursor: pointer;
    position: absolute;
    margin-top: 3px;
}
.head-nav-logo{
    position: absolute;
    left: 100px;
    top: -5px;
}
.head-nav-bgr{
    background-color: #fff;
    width: 800px;
    height: 40px;
}
.head-nav-list-menu{
    display: flex;
    justify-content:center;
    font-size: 10px;
}
.head-nav-item-menu{
    list-style: none;
}
.head-nav-item-menu-link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.head-nav-item-menu-link:hover{
    opacity: 0.5;
}
.icon-shopping{
    position: absolute;
    right:200px;
    top:55px;
    cursor: pointer;
}
.header-nav-picture-shoppe.header-nav-mess{
    display: none;
}
.header-nav-picture-shoppe{
    position: absolute;
    background-color: #fff;
    opacity: 1;
    right: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 2px;
    color: #000;
   

}
.header-classlist{
    border-top-right-radius:20px ;
    transform-origin: top right 10px;
    animation: ThongBao 1s ease-in-out;
    z-index:1;
}
@keyframes ThongBao {
    0%{
        opacity: 0.5;
        transform: scale(0);
    }
    100%{
        transform:scale(1);
    }
    
}
.picture{
    width: 150px;
    height: 150px;
}
.container{
    background-color: #f5f5f5;
    height: 100vh;

}
.sidebar{
    background-color: #fff;
    width: 180px;
    padding: 10px;
}
.sidebar-heading-before{
    position: relative;
    left: 40px;
    cursor: pointer;
}
.icon-heading{
    position: absolute;
    left: -70px;
}
.sidebar-heading-before::after{
    content: '';
    display: block;
    position: absolute;
    background-color:#f5f5f5;
    bottom: -10px;
    left: -60px;
    width: 250px;
    height: 2px;
}
.sidebar-item{
    margin-top: 20px;
    margin-left: 40px;
    transition: all 0.5s ease-in-out;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sidebar-list{
    list-style: none;
    cursor: pointer;
   
}
.container-sidebar{
    margin-left: 90px;
    position: relative;
    top:30px
}
.sidebar-item:hover{
    transform: translateX(10px);
    color: #f53e2d;
}
.container-home{
    display: flex;
    width: 700px;
    height: 30px;
    bottom:  165px;
}
.container-text-spsn{
    display: flex;
    align-items: center;
}
.container-conten{
    background-color: #e6e6e6;
    width: 1100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 165px;
    left: 300px;
}
.btn {
    width: 80px;
    margin-left: 10px;
    border: 1px solid #fff;
}
.btn:hover{
    background-color: #fa5630;
    color: #fff;
}
.home-text{
    margin-left: 10px;
}
.container-text {
    margin-left: 10px;
}
.container-page-current{
    color: #f39994;
}
.container-page{
    display: flex;
    align-items: center;
    
}
.container-page-number{
    margin-right: 10px;
}
.page-control{
    display: flex;
    
}
.home-filte-page{
    color: #000;
    text-decoration: none;
    
}
.switch{
    background-color:#fff;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-left{
    margin-right:5px ;
    opacity: 0.9;
    cursor:default;
}
.container-list{
    display: flex;
    text-align: center;
}
.container-list-row{
    display: flex;
    flex-wrap: wrap;
}
.container-list-column{
   margin: 30px;
   border-radius: 35px;
   background-color:#fff;
   cursor: pointer;
}
.container-list .image{
    border-radius: 35px;
}
.container-list .image_gio_hang{
    position: relative;
    display: none;

}
.container-list b {
    color: #f53e2d;
}

.container-list .container-list-item{
    margin: 10px;
}
.container-list .image:hover{
    opacity: 0.3;
}